+b.SECTION.attribute
	.container
		+b.H3.title._sm._section Что из перечисленных признаков “интуитивного SMM” справедливо для Вас? 

		+e.circle
			+e.circle-image
			+e.circle-item._1
				+e.circle-item-image(src="img/a-1.svg")
				+e.circle-item-content
					p Вы пытались платить за рекламу в 
						br
						| социальных сетях, но эффекта не 
						br
						| получили

			+e.circle-item._2
				+e.circle-item-image(src="img/a-2.svg")
				+e.circle-item-content
					p Подрядчики много обещают, но 
						br
						| мало делают, приводя в качестве 
						br
						| доказательства сложные термины

			+e.circle-item._3
				+e.circle-item-image(src="img/a-3.svg")
				+e.circle-item-content
					p Вы не понимаете, кто должен 
						br
						| заниматься продвижением в 
						br
						| социальных сетях, сколько за это 
						br
						| платить и как контролировать 
						br
						| эффективность 

			+e.circle-item._4
				+e.circle-item-image(src="img/a-4.svg")
				+e.circle-item-content
					p Заявки нестабильны: их 
						br
						| мало, они не дают 
						br
						| конверсии

			+e.circle-item._5
				+e.circle-item-image(src="img/a-5.svg")
				+e.circle-item-content
					p Клиенты покупают — и исчезают. 
						br
						| Долгосрочные отношения не 
						br
						| возникают. 

			+e.circle-item._6
				+e.circle-item-image(src="img/a-6.svg")
				+e.circle-item-content
					p Вы не понимаете что делать, чтобы 
						br
						| получать не лайки, а деньги из 
						br
						| социальных сетей 

			+e.circle-item._7
				+e.circle-item-image(src="img/a-7.svg")
				+e.circle-item-content
					p У ваших конкурентов 
						br
						| активность в социальных сетях 
						br
						| выше

			+e.circle-item._8
				+e.circle-item-image(src="img/a-8.svg")
				+e.circle-item-content
					p У Вас нет спланированной 
						br
						| четкой стратегии 
						br
						| продвижения в социальных 
						br
						| сетях

		+e.footer
			+b.H3.title._sm._section Пришло время сделать SMM своей сильной стороной
			+b.A.btn._brand-1._lg.effect._bounce-top.anchor(href="#form") Получить решение бесплатно