+b.SECTION.attribute
	.container
		+b.H3.title._sm._section Что из перечисленных признаков “интуитивного SMM” справедливо для Вас? 

		+e.circle
			+e.circle-image
			+e.circle-item._1

		+e.footer
			+b.H3.title._sm._section Пришло время сделать SMM своей сильной стороной
			+b.A.btn._brand-1._lg.effect._bounce-top.anchor(href="#form") Получить решение бесплатно