+b.SECTION.audience
	.container
		+e.intro.row
			.col-12.col-sm-5
				img(src='img/audience-image.png')
			.col-12.col-sm-7
				+e.intro-header
					+e.P.intro-header-title 
						span.b SMM: Как выжимать из социальных сетей максимум — 
						br
						| это бесплатный мини-курс Дамира Халилова, 
						br
						| в рамках которого Вы получите выжимку важнейших знаний по SMM.
				+e.intro-content
					p У Вас будет пошаговая инструкция по тому как использовать каждую 
						br
						| из социальных сетей для получения прибыли. 
						br
						| Вы научитесь правильно вести и продвигать свои страницы. 
						br
						| Вы, наконец-то, поймете - как продавать через социальные сети.
		+e.content
			+b.H3.title._sm._section Для кого
			.row
				+e.item._1.col-12.col-sm-6.col-md-3
					+e.item-inner
						+e.P.item-title Для предпринимателей
						+e.item-content
							p Вы сможете контролировать работу штатных и внештатных специалистов, а также рассматривать SMM как элемент стратегии компании.
				+e.item._2.col-12.col-sm-6.col-md-3
					+e.item-inner
						+e.P.item-title Для маркетологов и 
							br
							| PR-специалистов
						+e.item-content
							p Вы научитесь подстраиваться под интересы аудитории, усиливать лояльность к бренду и продавать через социальные сети.

				+e.item._3.col-12.col-sm-6.col-md-3
					+e.item-inner
						+e.P.item-title Для SMM-специалистов
						+e.item-content
							p Вы одними из первых освоите главные SMM-тренды в мире социальных сетей, внедрите их и начнете получать максимальный эффект, пока конкуренты будут топтаться на месте

				+e.item._4.col-12.col-sm-6.col-md-3
					+e.item-inner
						+e.P.item-title Для 
							br
							| блогеров
						+e.item-content
							p Вы сможете развивать свои площадки и не только привлекать новых подписчиков, но и подогревать их интерес снова и снова.