+b.SECTION.download
	.container
		+b.H3.title._sm._section Скачивайте уроки бесплатно
		+e.content.row
			+e.item.col-12.col-sm-4
				+e.item-header
					+e.IMG.item-image(src="img/insta.svg")
				+e.P.item-title Продвижение в Instagram

			+e.item.col-12.col-sm-4
				+e.item-header
					+e.IMG.item-image(src="img/fb.svg")
				+e.P.item-title Продвижение во Вконтакте 
					br
					| и на Facebook

			+e.item.col-12.col-sm-4
				+e.item-header
					+e.IMG.item-image(src="img/ytb.svg")
				+e.P.item-title Продвижение на YouTube
		+e.footer
			+b.A.btn._brand-1._lg.effect._bounce-top.anchor(href="#form") Смотреть занятия