+b.SECTION.facts
	.container
		+b.H3.title._sm._section Три факта об SMM, которые нельзя игнорировать
		.row
			+e.item._1.col-12.col-xs-4
				+e.item-inner
					+e.item-header
						+e.P.item-number 1
						+e.P.item-subtitle Факт
					+e.item-content
						p Продвижение в социальных сетях активно используют представители всех сфер бизнеса - от застройщиков, продающих квартиры до фотографов, продающих свои услуги.

			+e.item._2.col-12.col-xs-4
				+e.item-inner
					+e.item-header
						+e.P.item-number 2
						+e.P.item-subtitle Факт
					+e.item-content
						p Социальные сети позволяют показывать рекламу даже одному конкретному человеку (например, директору завода)

			+e.item._3.col-12.col-xs-4
				+e.item-inner
					+e.item-header
						+e.P.item-number 3
						+e.P.item-subtitle Факт
					+e.item-content
						p В Instagram существует механика Shopping Tags, которая позволяет отмечать конкретные элементы фотографии как товары и превращает Ваш аккаунт в магазин