+b.SECTION.greeting
	.container
		.row
			.col-12.col-sm-6
				+e.H2.subtitle Бесплатный мини-курс от Дамира Халилова
				+e.H1.title SMM: Как выжимать максимум 
					br
					| из социальных сетей
				+e.act
					+e.P.act-title Регистрируйтесь на серию из 3-уроков, внедряйте полученные 
						br
						| “рецепты” и решайте свои важнейшие бизнес-задачи:
					+e.act-content
						+e.UL.act-list.list._like
							li регулярный поток целевых заявок и стабильные 
								br
								| продажи;
							li повышение узнаваемости компании среди 
								br
								| целевой аудитории;
							li повышение повторных продаж и увеличение 
								br
								| среднего чека.
						+b.A.btn._brand-1._lg.effect._bounce-top.anchor(href="#form") Открыть доступ к курсу
			.col-12.col-sm-6
				+e.IMG.image(src="img/first-1.png")