+b.SECTION.reviews
	.container
		+b.H3.title._sm._section Отзывы клиентов Дамира
		+e.items
			+e.item
				+e.item-image
					img(src="img/rev-1.jpg")
				+e.item-content
					+e.item-content-header
						+e.P.item-name Владлен Левин
						+e.P.item-position директор агентства Lionsmm
					+e.item-content-body
						p «Если вам нужен плотный фундамент знаний по SMM - обратите внимание на курс Дамира Халилова»

			+e.item
				+e.item-image
					img(src="img/rev-2.jpg")
				+e.item-content
					+e.item-content-header
						+e.P.item-name Алина Крылова
						+e.P.item-position собственница сети сообществ в Facebook
					+e.item-content-body
						p «Я считаю, что Дамир Халилов - лучший в этой нише, потому что он практик. Если вы ищете курсы, которые готовы изучить и внедрить в свой бизнес, то я конечно же рекомендую обучение Дамира»

			+e.item
				+e.item-image
					img(src="img/rev-3.jpg")
				+e.item-content
					+e.item-content-header
						+e.P.item-name Гусейнова (Юдэ) Анна
						+e.P.item-position Руководитель отдела маркетинга в Столичном образовательном центре "Руно"
					+e.item-content-body
						p «Мне посчастливилось пройти курс Дамира Халилова "Smm для бизнеса". Это был мой первый и последний курс по SMM. Больше никто другой ничему новому не научил. Через две недели, после двухдневного бесплатного вебинара Дамира я прошла собеседование и меня приняли на работу...