+b.SECTION.social
	.container
		+b.H3.title._sm._section Социальные сети стали ключевой онлайн-платформой:
			br
			| пользователь проводит в них в среднем 2,5 часа в день
			br
			br
			| И самое важное - это отличная среда для продвижения своего продукта среди целевой аудитории.

		+e.content
			+e.P.content-title У SMM (Social Media Marketing) есть целый ряд серьезных преимуществ перед другими инструментами:
			+e.content-body.row
				.col-12.col-sm-7.col-md-8
					+e.UL.content-list.list._like
						li Экономичность - начинать работу можно совсем без рекламных затрат, либо с минимальным бюджетом.
						li Точность попадания - Вы можете нацеливать свою кампанию только на представителей целевой аудитории. 
						li Тратиться на “случайных прохожих” - не нужно.
						li Вирусный эффект - правильно проработанный контент распространяется сам, принося Вам новую аудиторию и новых клиентов.

		+e.footer.row
			.col-12.col-md-11
				p Однако недостаточно быть представленным в социальных сетях “для галочки”. SMM - это наука со своими правилами и подходами. Поэтому мы алгоритмизировали для Вас процесс продвижения и привели его к понятной схеме.

		+e.bg
			img(src="img/social-bg.png")