+b.SECTION.trener
	.container
		+b.H3.title._sm._section Кто ведет
		+e.row.row
			.col-12.col-md-7
				+e.H3.name.title._sm Дамир Халилов
				+e.UL.list.list._line
					li Основатель первого и одного из самых успешных до сих пор SMM агентства GreenPR
					li Автор книги-бестселлера "Маркетинг в социальных сетях" (издательство МИФ), получившей Книжную премию Рунета в 2014 году в категории «Выбор пользователей»
					li Основатель и руководитель "Школы эффективного интернет-маркетинга"
					li Постоянный спикер ТОП конференций
						br
						| С 2008 года вырастил несколько поколений SMM специалистов, работающих в компаниях по всему миру
			.col-12.col-md-5
				+e.image
					img(src="img/trener-dalil.png")