+b.SECTION.welcome
	.container
		+e.H2.subtitle Бесплатный мини-курс от Дамира Халилова
	+e.header
		.container
			+e.H1.title Продвижение во ВКонтакте и в Facebook
	.container
		+e.video
			+e.video-inner
				+e.IFRAME.video-iframe(src="https://www.youtube.com/embed/gpnmeegpSEs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
		+e.content
			p Занятие 2. Д/з.
			ol
				li Провести аудит своих сообществ ВКонтакте и на Facebook
				li Написать 5 постов ( возможен кросспостинг) в соответствии с теми типами контента, о которых мы говорили.
				li Выбрать 3 гипотезы аудитории на основании рекламных кабинетов.