+b.SECTION.welcome
	.container
		+e.H2.subtitle Бесплатный мини-курс от Дамира Халилова
	+e.header
		.container
			+e.H1.title Продвижение в Youtube
	.container
		+e.video
			+e.video-inner
				+e.IFRAME.video-iframe(src="https://www.youtube.com/embed/bcfxtnem4cI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
		+e.content
			p Занятие 3. Д/з.
			ol
				li Создайте канал на YouTube. Если он уже создан - проведите аудит.
				li Запишите 2 ролика любого формата (Мастер-класс, кейс, обзор-разбор продукта)
				li Подготовьте превью для каждого ролика
				li Выложите видео на канал.
				li Выкладывайте хотя бы одно видео в неделю