+b.SECTION.welcome
	.container
		+e.H2.subtitle Бесплатный мини-курс от Дамира Халилова
	+e.header
		.container
			+e.H1.title Продвижение в Инстаграм
	.container
		+e.video
			+e.video-inner
				+e.IFRAME.video-iframe(src="https://www.youtube.com/embed/1YCdMyNplf4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
		+e.content
			p Занятие 1. Д/з.
			ol
				li Провести аудит своих активностей в Instagram
				li Написать не менее 5 постов с разбивкой по тематикам ( продуктовый, мастер-класс, пост-витрина, пост с личным подходом)
				li С сегодняшнего дня начинать выкладывать хотя бы по 1 Stories в Instagram
				li Провести Live в Instagram