extends /site/docs/extends/layout
block variables
  - var title = 'Unit Test - Documentation';
block intro
  +docs-intro('Documentation', 'Hello! Please see this documentation before you start working with the project.')