mixin navAddition2()
	+e.addition.col-12.col-md-3#js-nav-addition
		+e.addition-links.js-nav-links
			+e.A.addition-link(href="mailto: imarkschool@gmail.com") imarkschool@gmail.com
			+e.A.addition-link(href="tel: +7(499)501-91-22") +7(499)501-91-22