mixin navAddition2()
	+e.addition.col-12.col-md-3#js-nav-addition
		+e.addition-links.js-nav-links
			+e.A.addition-link(href="tel: +1") +99 999 999 99
			+e.A.addition-link(href="tel: +1") +99 999 999 99
			+e.A.addition-link(href="tel: +1") +99 999 999 99
			+e.A.addition-link(href="tel: +1") +99 999 999 99