mixin navAddition1()
	+e.addition.col-4.col-md-3#js-nav-addition
		+e.addition-toggle#js-nav-addition-button-1
			span
			span
			span
		+e.addition-links.js-nav-links
			+e.A.addition-link +99 999 999 99
			+e.A.addition-link._hidden +99 999 999 99