mixin navAddition2()
	+e.addition.col-7.col-md-8#js-nav-addition
		+e.addition-mobile
			+e.A.addition-btn.btn._brand-1.effect._bounce-top.anchor(href="#form") Смотреть занятия
		+e.addition-content
			+e.addition-links.js-nav-links
				+e.A.addition-link(href="mailto: imarkschool@gmail.com") imarkschool@gmail.com
				+e.A.addition-link(href="tel: +7(499)501-91-22") +7(499)501-91-22