mixin navHamburger(type)
	if type == '1'
		+b.hamburger._effect-1(type="button" id="js-nav-hamburger")
			+e.SPAN.lines
				span Line1
				span Line2
				span Line3
	else if type == '2'
		+b.hamburger._effect-2(type="button" id="js-nav-hamburger")
			+e.SPAN.lines
				span
				span
				span
				span