extends /layouts/base

block blocks
	include /blocks/nav/navBase
	include /blocks/footer/footerBase

block variables
	- var title = 'SMM: Как выжимать максимум из социальных сетей ';
	- var description = 'Регистрируйтесь на серию из 3-уроков, внедряйте полученные “рецепты” и решайте свои важнейшие бизнес-задачи.';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	+navBase()
block content
	include /pages/index/greeting
	+footerBase()