extends /layouts/base

block blocks
	include /blocks/nav/navBase

block variables
	- var title = 'SMM: Как выжимать максимум из социальных сетей ';
	- var description = 'Регистрируйтесь на серию из 3-уроков, внедряйте полученные “рецепты” и решайте свои важнейшие бизнес-задачи.';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	+navBase()
block content
	include /pages/index/greeting
	include /pages/index/social
	include /pages/index/attribute
	include /pages/index/audience
	include /pages/index/download
	include /pages/index/trener
	include /pages/index/reviews
	include /pages/index/facts
	include /pages/index/registration