extends /layouts/lm

block css
	+css('css/lm.css')

block variables
	- var title = 'Универсальный набор знаний по увеличению охвата в Instagram';
	- var description = 'Скачать бесплатно набор материалов, которые помогут увеличить ваш охват в Instagram';
	- var url = '';
	- var image = 'img/logo.png';

block body
	include /pages/lm1/body