extends /layouts/base

block blocks
	include /blocks/nav/navBase

block css
	+css('css/page.css')

block variables
	- var title = 'Продвижение в Инстаграм';
	- var description = 'Бесплатный мини-курс от Дамира Халилова';
	- var url = '';
	- var image = 'img/first-1.png';

block nav
	+navBase('true')
block content
	include /pages/page/welcome
	include /pages/page/comments