extends /layouts/base

block blocks
	include /blocks/nav/navBase

block variables
	- var title = 'SMM: Как выжимать максимум из социальных сетей ';
	- var description = 'Регистрируйтесь на серию из 3-уроков, внедряйте полученные “рецепты” и решайте свои важнейшие бизнес-задачи.';
	- var url = '';
	- var image = 'img/first-1.png';

block nav
	+navBase('false')
block content
	include /pages/thx/greeting