+b.BODY.lm._1._center
	.container
		+e.row.row
			+e.image._negative.col-12.col-sm-6.col-md-5
				img(src="img/lm-1-form.png")
			.col-12.col-sm-6.col-md-7
				+e.H2.title._bold Спасибо, что скачали
				+e.H1.title._1
					+e.SPAN.title-inner Универсальный набор знаний 
						br
						| по увеличению охвата в Instagram