.greeting
	+relative()
	background-color: #040507
	color: $color-white
	font-size: 0

	padding-top: 45px
	z-index: 1

	+min(sm)

		+max(md)
			padding-bottom: 45px

	+min(md)
		padding-top: 100px

	+min(sm)
		&_full
			display: flex
			align-items: flex-end
			padding-bottom: 0
			height: 100vh
	
	@at-root
		%title
			line-height: 1.1
			margin-top: 0
			margin-bottom: 30px

	&__title
		+font('secondary')
		@extend %title

		font-size: 26px

		+min(sm)
			font-size: 30px

		+min(md)
			font-size: 35px

		+min(lg)
			font-size: 40px

	&__subtitle
		font-size: 18px
		@extend %title

	&__act
		font-size: 17px

		&-title
			margin-bottom: 25px

		&-list
			margin-bottom: 30px

		&-content
			margin-left: 15px

			+min(sm)
				margin-left: 30px

	&__image
		+max(md)
			&_main
				height: 650px
			
		+max(sm)
			&_main
				height: 250px
			&-column
				text-align: center

		+min(sm)
			+max(md)
				&_main
					+absolute(null, 0, -45px)
					z-index: -1
					opacity: 0.8

	&__iframe
		+size(100%, 170px)

		+min(sm)
			height: 250px

		+min(md)
			height: 300px