+b("list")
	list-style: none

	li
		position: relative

		&:after
			+pseudo

	+m('like')
		li
			padding-left: 45px

			+offset(15px)

			&:after
				top: 0
				left: 0
				+size(30px)
				+bg('../img/like.svg')

			+min(sm)
				padding-left: 60px

				&:after
					+size(41px)