+b.SECTION.greeting._full
	.container
		.row
			.col-12.col-sm-6.col-md-6
				+e.H2.subtitle Бесплатный мини-курс от Дамира Халилова
				+e.H1.title Спасибо, что 
					br
					| зарегистрировались
				+e.IFRAME.iframe(src="https://player.vimeo.com/video/287383546" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
			+e.image-column.col-12.col-sm-6.col-md-5
				+e.IMG.image._thx(src="img/first-1.png")